<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Contrail+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Simple Blog</title>
</head>
<body>
<div class="page-header">
<ul>
    <li class="branding"><a href="{% url 'blog:post_list' %}">Simple Blog</a></li>
    {% if user.is_authenticated %}
        <li class="menu_item"><a href="{% url 'logout' %}">log out</a></li>
        <li class="menu_item"><a href="{% url 'blog:post_new' %}">new post</a></li>
        <li class="menu_item"><a href="{% url 'blog:post_drafts' %}">drafts</a></li>
    {% else %}
        <li class="menu_item"><a href="{% url 'login' %}">log in</a></li>
    {% endif %}
</ul>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>