{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="post">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        {% if post.published_date %}
            <p class="date"> Published: {{ post.published_date }} </p>
        {% else %}
            <form action="{% url 'blog:post_publish' pk=post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Publish" />
            </form>
        {% endif %}
        <p>{{ post.text|linebreaks|truncatechars:512 }}</p>
    </div>
    {% endfor %}
{% endblock %}